<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
   <h1>Hello</h1>
   {% for post in posts %}
   <div class="card m-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text text-muted small">{{ post.published }}</p>
      <p class="card-text">{{ post.text|truncatechars:30 }}</p>
      <a href="#" class="btn btn-primary">To Build!</a>
    </div>
</div>
   {% endfor %} 
</body>
</html>